@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  border: 1px solid #848282;
  width: 400px;
  background: #fff;
}

h1 {
  font-size: 28px;
  text-align: center;
  padding: 30px;
  color: #fff;
  background-color: #393a39;
}

form {
  padding: 30px;
}
 
main form .widget{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
main form .widget input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid #848282;


}


form .widget input:focus {
  border-color: #000000;
}


form .widget-group{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .widget-group input{
  width: 15px;
  height: 15px;

}

.widget button {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #393a39;
  width: 100%;
}

button:hover {
    background-color: #171817;
}

form .signup {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

form .link {
  color: #000000;
  text-decoration: none;
}

form .link:hover {
  text-decoration: underline;
}
